.container{
    margin: 0 auto;
    border: 1px solid black;
    width: fit-content;
    padding-bottom: 80px;
    padding-right: 30px;
    padding-left: 40px;
    padding-top: 20px;
    margin-top: 20px;
    position: relative;
}
.btn{
font-size: small;
margin-top: 40px;
color: white;
background-color: #76a5af;
padding: 5px 25px;
border: 3px solid black;
box-shadow: 3px 3px black;
position: absolute;
right: 30px;
top: 350px;
}
input{
margin-left: 130px;
padding-left: 5px;
}
.sl1{
margin-left: 108px;
padding-right: 100px;
padding-top: 2px;
padding-bottom: 2px;
}
.sl2{
margin-left: 70px;
padding-right: 100px;
padding-top: 2px;
padding-bottom: 2px;
padding-left: 10px;
}
#offers{
margin-left: -2px;
margin-top: 20px;
}